body {
  background-color: cadetblue;
}

.main {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.complete {
  color: lightgray;
  text-decoration: line-through lightgray;
}
