{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <h2>{{ article.title }}</h2>
  <p>{{ article.content}}</p>
  <p>작성일: {{ article.created_at }}</p>
  <p>수정일: {{ article.updated_at }}</p>
  <hr>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'articles:edit' article.pk %}" class="text-decoration-none btn btn-secondary py-0">
    EDIT
    </a>
    <button class='btn btn-secondary py-0'>DEL</button>
    <a href="{% url 'articles:index' %}" class="text-decoration-none btn btn-secondary py-0">BACK</a>
  </form>
{% endblock content %}