{% extends 'base.html' %}

{% block content %}
  <h1>INDEX</h1>
  <a href="{% url 'articles:new' %}" class="text-decoration-none btn btn-secondary py-0">NEW</a>
  <hr class="border border-dark border-2">
  <div class="mt-3">
    {% for article in articles %}
      <h2>제목 : {{ article.title }}</h2>
      <p>내용 : {{ article.content }}</p>
      <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none btn btn-secondary py-0">DETAIL</a>
      <hr>
    {% empty %}
      <h1>등록된 게시물이 없습니다.</h1>
      <hr>
    {% endfor %}
  </div>
{% endblock content %}