{% extends 'base.html' %}

{% block content %}
  <h1>NEW</h1>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">TITLE</span>
      <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    {% comment %} <label>TITLE:
      <input type="text" name="title">
    </label> {% endcomment %}
    <label for="validationTextarea" class="form-label">CONTENT</label>
    <textarea name="content" class="form-control" id="validationTextarea" placeholder="Required example textarea" required></textarea>
    {% comment %} <br>
    <label>CONTENT:<br>
      <textarea name="content"cols="29" rows="10"></textarea>
    </label>
    <br> {% endcomment %}
    <button class="btn btn-secondary py-0">WRITE</button>
    <a href="{% url 'articles:index' %}" class="text-decoration-none btn btn-secondary py-0">
    BACK
    </a>
  </form>
{% endblock content %}