{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
  {% for article in page_obj %}
    <div class="card bg-secondary my-3">
      <div class="card-body row text-white">
        {% if article.image %}
          <div class="col-4 d-flex justify-content-center align-items-center">
              <div>
                <img src="{{ article.img_thumb.url }}" alt="{{article.img_thumb}}" class="w-100">
              </div>
          </div>
        {% endif %}
        <div class="col" style="font-family: sandoll-ongothic, sans-serif;">
          <h4 class="card-title">{{ article.title }}</h4>
          <hr>
          <h5 class="card-text">{{ article.content|linebreaks }}</h5>
          <p class="mb-0">create : {{ article.created_at}}</p>
          <p>update : {{ article.updated_at}}</p>
          <a href="{% url 'articles:detail' article.pk %}" class="btn btn-dark pb-0 pt-1" style="font-family: paralucent, sans-serif;">DETAIL</a>
        </div>
      </div>
    </div>
  {% empty %}
    <h3>No Content</h3>
  {% endfor %}

  <div class="d-flex justify-content-center">
    {% bootstrap_pagination page_obj pages_to_show=5 %}
  </div>

{% endblock content %}